/* Dev */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: calc(100vh - 100px);
    margin-top: 100px;
    background-color: #333;
    font-family: 'proxima-nova', sans-serif;
}

/* Building */
.building {
    width: min(400px, 100%);
    margin: 0 auto;
    background-color: #fff;
    border-radius: 25px;
}

.building img,
.building video {
    display: block;
    margin-bottom: 0;
}

.building-header {
    position: relative;
    width: 100%;
}

/* Building media */
.building-media img,
.building-media video {
    width: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}

/* Building header overlay */
.building-overlay {
    border-radius: 25px 25px 0 0;
    overflow: hidden;
}

.media-options {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.01) 100%);
}

.media-btn-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px 10px;
}

.media-btn {
    display: flex;
    align-items: center;
    padding: 6px 10px;
    background-color: #8a6e4b;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.media-btn-alt {
    background-color: #333;
}

.media-btn:hover,
.media-btn:focus {
    background-color: rgba(138, 110, 75, 0.8);
}

.media-btn-alt:hover,
.media-btn-alt:focus {
    background-color: rgba(40, 40, 41, 0.8);
}

.btn-icon {
    margin-right: 5px;
}

.btn-icon img {
    width: 16px;
}

/* Audio player */
.audio-player {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.2) 100%);
    color: #fff;
    font-size: 14px;
}

.audio-controls {
    display: flex;
    align-items: center;
}

.time-display {
    display: flex;
    padding: 10px;
}

.time-divider {
    margin: 0 4px;
}

.control-btn {
    padding: 10px;
}

.control-btn img {
    width: 20px;
}

/* Custom input range */
.audio-timeline {
    width: 100%;
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    --track-bg: #fff;
    --track-before-width: 0%;
}
.audio-timeline::before {
    position: absolute;
    content: '';
    width: var(--track-before-width, 0%);
    height: 4px;
    background-color: var(--track-bg);
    border-radius: 2px;
    pointer-events: none;
}
.audio-track {
    padding: 18px 0;
    background: transparent;
    appearance: none;
    cursor: pointer;
}

.audio-track:focus {
    outline: none;
}

/* Slider track */
.audio-track::-webkit-slider-runnable-track {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 2px;
    height: 4px;
}

.audio-track::-moz-range-track {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 2px;
    height: 4px;
}

/* Slider thumb */
.audio-track::-webkit-slider-thumb {
    width: 12px;
    height: 12px;
    margin-top: -4px;
    background-color: #fff;
    border-radius: 50%;
    appearance: none;
}

.audio-track::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
}

/* Building footer */
.building-footer {
    padding: 15px 20px;
}

.building-title {
    margin-bottom: 15px;
    font-size: 24px;
}

/* Building metrics */
.building-metrics {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.metric-item {
    display: flex;
    align-items: center;
}

.metric-icon img {
    width: 30px;
}

.metric-info {
    margin: 0 10px;
    font-weight: bold;
}

.metric-info.stop {
    margin-right: 4px;
}

.metric-label {
    color: #777;
    font-size: 14px;
}

/* Building tab */
.building-tab-container {
    margin-bottom: 10px;
}

.building-tab-btn-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.building-tab-btn {
    display: block;
    color: #333;
    font-weight: bold;
    cursor: pointer;
}

.building-tab-btn.active {
    color: #8a6e4b;
}

.panel-content.show {
    display: block;
}

.panel-content p:last-of-type {
    margin-bottom: 0;
}

/* Utilities */
.building-overlay .media-options.hide,
.building-media img.hide,
.panel-content {
    display: none;
}
